<div class="container">
    <div class="layout-header">
        <div class="layout-header__menu">
            <p-menubar 
                [model]="menuItems"
            />
        </div>
    
        <!-- right block with user actions and data -->
        <div class="layout-header__right-block flex flex-1 justify-content-end align-items-center">
            <div class="user-info"></div>
            <div class="logout px-1">
                <p-button
                [icon]="logoutIcon"
                label="{{user?.login}}"
                pTooltip="Logout"
                (mouseenter)="hoverLogoutBtn(true)"
                (mouseleave)="hoverLogoutBtn(false)"
                (onClick)="logout()"
                severity="secondary"
                >
                </p-button>
            </div>
            <div class="data px-1">
                <div>
                    {{ dateTime | date: 'HH:mm:ss' }}
                </div>
                <div class="">
                    {{ dateTime | date: 'EEEE' }}
                </div>
            </div>
        </div>
    </div>
</div>
