@use 'variables' as var;

:host {
    height: 60px;
    width: 100%;
    display: block;
    background-color: var.$header-background;
} 

.container {
    display: block;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.layout-header {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    height: 60px;
    padding: 4px 5px;
    color: var.$header-color;
    
    &__right-block {
        display: flex;

        & .user-info {
            width: 100px;
        }
    }
}