<!-- (input) = "searchTour($event)" -->
<!-- [(ngModel)]="searchValue" -->

<div class="grid grid-nogutter justify-content-center pt-5 pb-1">
    <div class="col-12 md:col-6 lg:col-3 p-2">
        <p-inputgroup>
            <input 
                pInputText
                placeholder="Поиск тура"
                #searchInput
            />
            <p-inputgroup-addon>
                <p-button icon="pi pi-search" severity="secondary" variant="text"/>
            </p-inputgroup-addon>
        </p-inputgroup>
    </div>
</div>

<div appHighlightActive
selector='.tour-item'
[initFirst]="true"
(onEnter)="selectActive($event)"
class="tours-list cards grid flex-wrap border-round grid-nogutter justify-content-center ">
    @for (item of tours | search : searchInput.value : 'name' ; track item.id){
        <div 
            (click)="goToTour(item)"
            class="tour-item card m-2 col-12 md:col-6 lg:col-4 xl:col-3 px-2"
        >
            <p-card
                header="{{item.name}}"
                subheader="{{item.price}}"
                styleClass="tour-p-card justify-content-start"
            >

                <ng-template #header> 
                    <img [ngSrc]="'/img/tours/' + item.img" class="flex w-full" width="300" height="100" priority>
                </ng-template>
                
                <p>{{item.description | slice:0:110}}...</p>

                <p>Страна: {{item.country?.name_ru}} <img [src]="item.country?.flag_url" alt=""></p>
                
            </p-card>
        </div>
    }
    @empty {
        <div class="no-data">Нет данных!</div>
    }

</div>

