<!-- (input) = "searchTour($event)" -->
<!-- [(ngModel)]="searchValue" -->

<div class="grid grid-nogutter justify-content-center pt-5 pb-1">
    <div class="col-12 md:col-6 lg:col-3 p-2">
        <p-inputgroup>
            <input 
                pInputText
                placeholder="Поиск тура"
                #searchInput
            />
            <p-inputgroup-addon>
                <p-button icon="pi pi-search" severity="secondary" variant="text"/>
            </p-inputgroup-addon>
        </p-inputgroup>
    </div>
</div>

<div appHighlightActive
selector='.tour-item'
[initFirst]="true"
(onEnter)="selectActive($event)"
class="tours-list cards grid flex-wrap border-round grid-nogutter justify-content-center ">
    @for (item of tours | search : searchInput.value : 'name' ; track item.id){
        <div 
            (click)="goToTour(item)"
            class="tour-item card m-2 col-12 md:col-6 lg:col-4 xl:col-3 px-2"
        >
            <p-card
                header="{{item.name}}"
                subheader="{{item.price}}"
                styleClass="tour-p-card justify-content-start"
            >

                <ng-template #header> 
                    <img [ngSrc]="'/img/tours/' + item.img" class="flex w-full" width="300" height="100" priority>
                </ng-template>
                
                <p>{{item.description | slice:0:110}}...</p>

                <p (click)="getCountryDetail($event, item.country?.iso_code2)">
                    Страна: {{item.country?.name_ru}}
                    <img [src]="item.country?.flag_url" alt="">
                </p>
                
            </p-card>
            <div class="basket py-2 ml-2">
                @if(!item.inBasket) {
                    <i (click)="setItemToBasket($event, item)" class="pi pi-cart-plus" style="color: green" ></i>
                }
                @else {
                    <i (click)="removeItemFromBasket($event, item)" class="pi pi-cart-plus" style="color: red" ></i>
                }

            </div>
        </div>
    }
    @empty {
        <div class="no-data">Нет данных!</div>
    }

</div>

<p-dialog [(visible)]="showModal" [modal]="true" [style]="{ width: '50rem' }">

    @if (showModal) {
        <app-map [location]="location" />
    }

    <ng-template #footer>
        <p-button label="Закрыть" [text]="true" severity="secondary" (click)="showModal=false" />
    </ng-template>

</p-dialog>

