<div class="home-container">
  <div class="hero-section">
    <h1>Добро пожаловать в мир путешествий!</h1>
    <p class="hero-text">
      Откройте для себя удивительные места по всему миру. Мы предлагаем широкий выбор туров для всех типов путешественников - от экзотических пляжей до горных вершин.
    </p>
    <p-button 
      routerLink="/tours" 
      label="Смотреть туры" 
      icon="pi pi-arrow-right" 
      iconPos="right"
      severity="success"
      size="large"
      class="mt-4">
    </p-button>
    <p>Hello Hello!!!</p>
  </div>
</div>
