<div class="flex-grow-1 flex-1 p-5 h-full p-0 m-0 justify-content-center align-items-start">
    <div class="flex flex-grow-1 flex-row flex-1 py-2">
        <p class="">Выберите тип тура</p>
    </div>
    <div class="flex flex-grow-1 flex-row flex-1 py-2">
        <p-select
            [options]="tourTypes"
            [(ngModel)]="selectedType"
            (onChange)="changeTourType($event)"
            optionLabel="label"
            placeholder="Выберите тип тура"
            class="">
        </p-select>
    </div>
    <div class="flex flex-row flex-grow-1 flex-1 py-2">
        <p-datepicker
            [(ngModel)]="date"
            [showIcon]="true"
            (onSelect)="changeDate($event)"
            (onClear)="clearDataFilter($event)"
            (onClearClick)="clearDataFilter($event)"
            [showButtonBar]="true"
            dateFormat="dd.mm.yy"
            placeholder="Выберите дату"
        />
    </div>
</div>  