
<div class="grid grid-nogutter">
    <div class="grid grid-nogutter">
        <p-inputgroup>
            <input 
                pInputText
                placeholder="Поиск тура"
                #searchInput
            />
            <p-inputgroup-addon>
                <p-button icon="pi pi-search" severity="secondary" variant="text"/>
            </p-inputgroup-addon>
        </p-inputgroup>
    </div>
    <div class="grid grid-nogutter">
        <p-galleria 
            (activeIndexChange)="activeIndexChange($event)"
            class="tour-item-galleria"
            [value]="toursArr()" 
            [showIndicators]="true"
            [showThumbnails]="false"
            [containerStyle]="{ 'max-width': '440px', 'max-height': '440px', 'width': '440px', 'height': '440px' }"
        >
            <ng-template #item let-item>
                <img [ngSrc]="'/img/tours/'+item.img" priority fill/>
            </ng-template>
        </p-galleria>
    </div>
</div>



