

<div class="grid grid-nogutter justify-content-center pt-5 pb-1">
    <div class="col-12 md:col-6 lg:col-3 p-2">
        <p-inputgroup>
            <input 
                pInputText
                placeholder="Поиск тура"
                #searchInput
            />
            <p-inputgroup-addon>
                <p-button icon="pi pi-search" severity="secondary" variant="text"/>
            </p-inputgroup-addon>
        </p-inputgroup>
    </div>
</div>

<div class="card p-2">
    <p-galleria [value]="toursArr()" [showIndicators]="true" [showThumbnails]="false" [containerStyle]="{ 'max-width': '440px' }">
        <ng-template #item let-item>
            <img [ngSrc]="'/img/tours/'+item.img" priority fill/>
        </ng-template>
    </p-galleria>
</div>